/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* NAVBAR */
.top-nav {
  padding: 10px 50px;
  background-color: #1b4079;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo img {
  width: 75px;
  height: auto;
}

.logo-text a {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  width: 300px;
  margin-left: 20px;
}

nav {
  background: #112545;
}

.nav-link {
  text-align: center;
  padding: 10px;
}

.nav-link li {
  display: inline-block;
  margin-right: 60px;
}

.nav-link li a,
.logo-text a {
  text-decoration: none;
  color: white;
  font-family: "Roboto Condensed";
}

.nav-link li:last-child {
  margin-right: 0;
}

/* MOBILE NAVBAR */
@media screen and (max-width: 768px) {
  .top-nav {
    padding: 10px 20px;
  }
  .logo {
    flex-direction: column;
  }
  .logo-text a {
    margin: 0px;
  }
  .nav-link li {
    margin-right: 30px;
  }
}

/* BODY */
main {
  padding: 50px 60px;
}

/* FOOTER */
footer {
  background: #112545;
  width: 100%;
  padding: 10px;
  margin-top: auto;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link {
  color: white;
  text-decoration: none;
  font-size: 30px;
  margin: 0 20px;
}
