@use "utils";
@use "components";
@use "pages";

/*Tablet*/
@media (min-width: 768px) {



  .main-index{
    .titulo-tablon {
      h1 {
        text-align: left;
      }
    }
      .container-tablon{
      grid-template-columns: 1fr 1fr;
      .box-noticia-fija {
        grid-column: span 2;
        display: grid;
        grid-template-rows: 0.5fr;
        grid-template-columns: repeat(2, 1fr);
        img{
          grid-area: 1/1/2/2;
        }
        .text-container{
          grid-area: 1/2/2/3;
          gap: 15px 0px;
        }
      }
    }
  }
  .main-noticia{
    .container-noticia{
      margin: 5% 5%;
      .img-wrapper {
        height: 500px;
        overflow: hidden;
      }
    .box-noticia-indiv {
      padding:30px 60px;
    }
    .box-comentario{
      padding:30px 60px;
    }
    }
  }
  .main-contacto{
    margin: 3% 10%;
  }
  .main-login{
    .box-form .login-form img {
        width: 35%;
      }
    }
  

  //Main Alumno
  .main-alumno {
    height: 66vh;
    .contenedor {
      flex-direction: row;
      align-items: flex-start;
    }
  }
  //Main Admin
  .main-admin {
    height: 66vh;
    .contenedor {
      flex-direction: row;
      align-items: flex-start;
    }
  }
  .main-publicacion{
    .productos-caja{
      flex-direction: row;
    }
  }
  
}

/*Desktop*/
@media (min-width: 1024px) {
  .main-index{
      .container-tablon{
      grid-template-columns: 1fr 1fr 1fr;
      .box-noticia-fija {
        grid-column: span 3;
      }
    }
  }

  .main-noticia{
    .container-noticia{
      margin: 3% 10%;
      .img-wrapper {
        height: 600px;
      }
      .box-noticia-indiv {
        padding:30px 80px;
      }
      .box-comentario{
        padding:30px 80px;
      }
    }
  }
  .main-contacto{
    flex-direction: row;
    gap: 80px;
    .info-contacto{
      .info-map iframe {
        height: 90%;
      }
    }
    .form-contacto form {
      width: auto;
      height:80%;
  }
  }
  .main-instituto {
    .instituto-division {
      grid-template-columns: 1fr 1.5fr;
    }
  }
}
