<footer class="footer-index">
    <div class="social-media">
      <a href="#" class="social-link"><i class="bi bi-facebook"></i></a>
      <a href="#" class="social-link"><i class="bi bi-youtube"></i></a>
    </div>
  </footer>