//colors

$primary-color: #043C90;
$secondary-color: #021E48;
$accent-color: #5EB6FD;

$bg-color-light: #F6FAFF;
$bg-color-dark:#E6EDF8;

$button-dark: #032D6C;
$button-light: #E6EDF8;

$font-blue:#032D6C;