<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs', {titulo: "Colegio Jorge Newbery", estilo: "style.css"})%>
  <body class="body-index">
    <header class="header-index">
      <div class="top-nav">
        <div class="logo">
          <a href="index.html">
            <img src="/images/logoalt.png" alt="" />
          </a>
          <h1 class="logo-text">
            <a href="index.html">Colegio Secundario Ing. Jorge Newbery</a>
          </h1>
        </div>
      </div>
    </header>
   <%- include('partials/nav.ejs') %>
    <main class="main-index">texto</main>
    <%- include('partials/footer.ejs')%>
  </body>
</html>
