*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

picture,
svg,
video {
  display: block;
  max-width: 100%;
}

.footer-index {
  grid-area: footer;
  background: #112545;
  width: 100%;
  padding: 10px;
  margin-top: auto;
}
.footer-index .social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-index .social-media .social-link {
  color: white;
  text-decoration: none;
  font-size: 30px;
  margin: 0 20px;
}

.nav-link li a {
  text-decoration: none;
  color: white;
  font-family: "Roboto Condensed";
}

.header-index {
  grid-area: header;
}
.header-index .top-nav {
  background-color: #1b4079;
}
.header-index .top-nav .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-index .top-nav .logo .logo-header {
  max-width: 100%;
  align-items: center;
}
.header-index .top-nav .logo img {
  width: auto;
  height: 92px;
}
.header-index .top-nav .logo .logo-text a {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  width: 300px;
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-family: "Roboto Condensed";
}

.navbar-index {
  grid-area: nav;
  background: #112545;
}
.navbar-index .nav-link {
  text-align: center;
  padding: 10px;
}
.navbar-index .nav-link li {
  display: inline-block;
  margin-right: 60px;
}
.navbar-index .nav-link li:last-child {
  margin-right: 0;
}

.grid-index, .body-index {
  display: grid;
  grid-template-areas: "header" "nav" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.2fr 2fr 1fr;
}

.grid-login {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 0.2fr);
}

.body-index {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.main-index {
  grid-area: main;
  padding: 50px 60px;
}

/*Tablet*/
@media (min-width: 425px) {
  .header-index .top-nav {
    padding: 10px 50px;
  }
  .header-index .top-nav .logo {
    flex-direction: row;
  }
}
/*Desktop*/
.main-login {
  display: grid;
  grid-template-rows: 0.5fr 6fr 0.5fr;
  grid-template-columns: 0.5fr 6fr 0.5fr;
}

.box-form {
  grid-area: 2/2/3/3;
  padding: 50px 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.box-form .login-form {
  display: grid;
  grid-template-rows: repeat(3, 1fr) 0.5fr;
  grid-template-columns: 1fr;
  gap: 15px;
}
.box-form .login-form h1 {
  text-align: center;
  font-size: clamp(26px, 2vw, 32px);
}
.box-form .login-form .input-login-1 {
  grid-area: 2/1/3/2;
}
.box-form .login-form .input-login-2 {
  grid-area: 3/1/4/2;
}
.box-form .login-form label {
  font-size: 14px;
}
.box-form .login-form input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.box-form .login-form button {
  grid-area: 4/1/5/2;
  padding: 10px;
  margin-top: 10px;
  background-color: #5eb6fd;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.box-form .login-form button:hover {
  background-color: #4c94cf;
}

/*Tablet*/
@media (min-width: 425px) {
  .main-login {
    grid-template-columns: 1fr 4fr 1fr;
  }
}
/*Desktop*/
@media (min-width: 768px) {
  .main-login {
    grid-template-rows: 1fr 6fr 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
  .login-form {
    gap: 30px;
  }
}
.main-contacto {
  display: grid;
  grid-template-rows: 0.5fr 4fr 0.5fr 6fr 0.5fr;
  grid-template-columns: 0.5fr 6fr 0.5fr;
}

.info-contacto {
  grid-area: 2/2/3/3;
}
.info-contacto .info-container {
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  grid-template-columns: 1fr;
  gap: 10px 0px;
}
.info-contacto .info-container .info-box {
  grid-area: 1/1/2/2;
  padding: 30px;
  border-radius: 5px;
  background-color: rgba(0, 0, 1, 0.03);
}
.info-contacto .info-container .info-box p {
  font-size: 12px;
  margin-bottom: 5px;
}
.info-contacto .info-container .info-box p span {
  font-weight: bold;
  color: #4c94cf;
}
.info-contacto .info-container .info-box p:last-child {
  margin-bottom: 0px;
}
.info-contacto .info-container .info-map {
  grid-area: 2/1/3/2;
}

.form-contacto {
  grid-area: 4/2/5/3;
}
.form-contacto form {
  display: grid;
  grid-template-rows: repeat(5, 1fr) 5fr 0.8fr;
  grid-template-columns: 1fr;
  gap: 10px 0px;
}
.form-contacto form h1 {
  font-size: clamp(26px, 2vw, 32px);
}
.form-contacto form input,
.form-contacto form textarea {
  border: 1px solid #ccc;
  border-radius: 3px;
}
.form-contacto form button {
  padding: 10px;
  background-color: #5eb6fd;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.form-contacto form button:hover {
  background-color: #4c94cf;
}

@media (min-width: 425px) {
  .info-map {
    width: 100%;
    height: 100%;
  }
  .info-map iframe {
    width: 100%;
    height: 100%;
  }
}
/*Desktop*/
@media (min-width: 768px) {
  .main-contacto {
    grid-template-rows: 0.5fr 6fr 0.5fr;
    grid-template-columns: 1fr 6fr 0.5fr 6fr 1fr;
  }
  .info-contacto {
    grid-area: 2/2/3/3;
  }
  .info-contacto .info-container {
    grid-template-rows: 0.5fr 3fr;
  }
  .info-contacto .info-container .info-box {
    padding: 10px;
  }
  .form-contacto {
    grid-area: 2/4/3/5;
  }
  .info-map iframe {
    height: 50vh;
  }
}

/*# sourceMappingURL=style.css.map */
