<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {titulo: "Colegio Jorge Newbery", estilo: "style.css"}) %>

  <body class="body-index">
    <header class="header-index">
      <div class="top-nav">
        <div class="logo">
          <div class="logo-header">
            <a href="index.html">
              <img src="/images/logoalt.png" alt="" />
            </a>
          </div>
          <div class="logo-text">
            <h1 >
              <a href="/">Colegio Secundario Ing. Jorge Newbery</a>
            </h1>
          </div>
        </div>
      </div>
    </header>
    <%- include('../partials/nav.ejs') %>
    <main>
      <section class="login-container">
        <div class="login-box">
          <h1 class="title-form">Ingresa tus datos</h1>
          <form class="login-form">
            <label for="username">Numero de DNI: </label>
            <input type="text" id="username" name="username" required />
            <label for="password">Contraseña: </label>
            <input type="password" id="password" name="password" required />
            <button class="login-button" type="submit">Iniciar Sesion</button>
          </form>
          <p>Olvidaste tu contraseña?</p>
        </div>
      </section>
    </main>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>
