<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {titulo: "Colegio Jorge Newbery", estilo:
  "style.css"})%>
  <body class="body-index">
    <%- include('../partials/nav.ejs') %>
    <main class="main-instituto">
      <h2>Bienvenidos a nuestro Instituto</h2>
      <div class="instituto-division">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit et,
          voluptas similique perferendis, sapiente, autem molestiae qui earum
          culpa rerum enim cumque ab quidem perspiciatis! Soluta cumque atque
          maiores neque. Voluptatibus iure esse, rem quos placeat odio et labore
          consectetur ducimus nostrum vel mollitia eius porro possimus!
          error.
        </p>
        <img src="\images\imagen-instituto.jpeg" alt="" />
      </div>
     
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti fugit
        harum numquam autem laudantium, aperiam, non totam suscipit nesciunt quo
        dolor repellat laboriosam perferendis sed magni hic ex adipisci
        pariatur. Praesentium consequuntur error debitis excepturi laborum alias
        esse odit eos in velit quidem provident ea inventore sapiente neque
        tempora blanditiis expedita dolores, perferendis accusantium eum?
        Aperiam, voluptates nulla? Mollitia, distinctio.
      </p>
    </main>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>
