<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {titulo: "Colegio Jorge Newbery", estilo:
  "style.css"})%>
  <body class="body-index">
    <%- include('../partials/nav.ejs') %>
    <main class="main-instituto">
      <h2>La Historia de Nuestro Colegio</h2>
      <div class="instituto-division">
        <p>
          El Colegio Ingeniero Jorge Newbery comenzó a funcionar en 1982,
          inicialmente como sede provisoria en la Escuela Castiglione del barrio
          Jorge Newbery. Posteriormente, se trasladó a un anexo de la Escuela Nº
          40, donde se contaba con cinco aulas y un despacho destinado a la
          administración. Desde su creación y hasta aproximadamente el año 2000,
          la orientación del colegio secundario era Perito Mercantil. <br> En 2005,
          en el marco del programa "Nuevas Escuelas" del Gobierno Nacional, se
          inauguró el actual edificio, ubicado en la intersección de las calles
          La Plata y Ricardo Rojas. <br> Actualmente, la población estudiantil es de
          400 alumnos. El turno mañana cuenta con cinco divisiones de 1er año y
          cinco divisiones de 2do año. En el turno tarde, funcionan 3ro, 4to y
          5to año, con la orientación en Economía y Gestión de las
          Organizaciones.
        </p>
        <img src="\images\imagen-instituto.jpeg" alt="" />
      </div>
    </main>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>