<!-- nav.ejs -->
<nav class="navbar">
  <div class="top-row">
    <div class="logo">
      <a href="/"><img src="/images/logoalt.png" alt="Colegio Secundario Ing. Jorge Newbery Logo" /></a>
    </div>
    <div class="title">
      <a href="/">COLEGIO SECUNDARIO <br> ING. JORGE NEWBERY</a>
    </div>
    <div class="menu-toggle" id="mobile-menu">
      <i class="fas fa-bars"></i>
    </div>
  </div>
  <div class="nav-center">
    <ul class="nav-links" id="nav-links">
      <li>
        <a href="/"><i class="fas fa-newspaper"></i> NOTICIAS</a>
      </li>
      <li>
        <a href="/instituto"><i class="fas fa-university"></i> INSTITUCIONAL</a>
      </li>
      <li>
        <a href="/contacto"><i class="fas fa-phone"></i> CONTACTO</a>
      </li>
      <% if (!usuarioLogueado) { %>
        <li>
          <a href="/usuario/login"><i class="fas fa-user"></i> USUARIO</a>
        </li>
      <% } else { %>
        <li>
          <a href="/usuario/perfil"><i class="fas fa-user"></i> <%= usuarioLogueado.nombre %></a>
        </li>
      <% } %>
    </ul>
  </div>
</nav>
