@use "utils/font";
@use "utils/variable" as *;

nav {
  grid-area: 1 / 1 / 2 / 2;
}

.navbar {
  background-color: $primary-color;
  color: white;
  .top-row {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding: 15px 25px;
    .logo {
      img {
        height: 60px;
      }
    }
    .title {
      a {
        @extend .title-logo-styles;
      }
    }
    .menu-toggle {
      margin-left: auto;
      align-self: center;
      display: block;
      font-size: 24px;
      cursor: pointer;
    }
  }
  .nav-links {
    list-style: none;
    display: none; /* Hide the nav links initially */
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: $secondary-color; /* Different color for the nav links background */
    &.show {
      display: flex; /* Show the nav links when toggled */
    }
    li {
      margin: 10px 0;
      text-align: center;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        @extend .nav-link-styles;
        i {
          margin-right: 8px;
        }
        &:hover {
          transition: color 0.3s ease;
          color: #ccc;
        }
      }
    }
  }
  @media (min-width: 768px) {
    .top-row .logo img {
      height: 90px;
    }
    .top-row .title {
      width: unset;
    }
  }
  /* Desktop Styles */
  @media (min-width: 1024px) {
    .top-row .menu-toggle {
      display: none; /* Hide the menu toggle on desktop */
    }
    .nav-links {
      display: flex; /* Show nav links on desktop */
      flex-direction: row;
      justify-content: center;
      padding: 10px 0;
      margin: 0;
      li {
        margin: 0 20px;
      }
    }
  }
  .rotate-icon {
    transition: transform 0.7s ease;

    &.fa-times {
      transform: rotate(90deg);
    }
  }
}
