<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs', {titulo: "Colegio Jorge Newbery", estilo:
  "style.css"})%>
  <body>
    <header>hola mundo</header>
    <nav><%- include('partials/nav.ejs') %></nav>
    <main>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi cumque
      pariatur, provident asperiores error praesentium reprehenderit,
      necessitatibus odio ullam, aut earum nam impedit cum saepe fugit voluptate
      nesciunt consequuntur doloremque!
    </main>
    <%- include('partials/footer.ejs')%>
  </body>
</html>
